.news-hero-section{
    background: white;
}

.news-hero-section .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.news-hero-section .content .subtext{
    width: 700px;
    text-align: center;
}

.news-row{
    margin: 40px 0;
}

.news .news-img{
    width: 100%;
    border-radius: 10px;
}

.news:hover .news-img{
    transform: skewY(1deg);
    opacity: 0.7;
    transition: 0.3s;
}

.news .headline,.news .desc{
    margin-top: 12px;
}

.news .desc{
    color: rgb(43, 32, 32);
}

@media (max-width: 576px) {
    .news-hero-section{
        padding-bottom: 50px;
    }
    .news-hero-section .content .subtext{
        width: 100%;
    }
    .news-row{
        display: flex;
        gap: 40px;
    }
    .news{
        margin: 15px 0;
    }
}