<!-- Hero Section -->
<div class="about-hero-section hero-section">
    <div class="max-width container content">
        <p class="title">About Us</p>
        <h1 class="heading">
            Lorem ipsum dolor sit amet.
        </h1>
        <p class="subtext">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod nemo fuga quos qui in at nostrum nihil dolore quae accusantium!
        </p>
        <div class="image-section">
            <img src="../assets/img/about-page-img1.webp" alt="">
        </div>
    </div>  
</div>

<!-- About Section -->
<div class="aboutus-section">
    <div class="container max-width">
        <div class="about-section-frame">
            <div class="left-about about-img-section col-lg-6">
                <img src="./assets/img/about-section.webp" alt="" class="about-img">
            </div>
            <div class="right-about col-lg-6">
                <p class="title">WHO WE ARE</p>
                <h2 class="heading observe-heading">
                    Lorem ipsum dolor, sit amet consectetur 
                </h2>
                <p class="subtext">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus sit nam molestias! Fugiat, necessitatibus labore! Lorem ipsum dolor sit amet.</p>
                <p class="subtext">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sunt dolorem et Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eos.</p>
                <a href="#" class="button">Lorem.</a>
            </div>
        </div>
    </div>
    
</div>

<!-- Founder Section -->
<div class="aboutus-section founder-section">
    <div class="container max-width">
        <div class="about-section-frame">
            <div class="left-about col-lg-6">
                <p class="title">Founder</p>
                <h2 class="heading observe-heading">
                    Karan Desai
                </h2>
                <p class="subtext">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus sit nam molestias! Fugiat, necessitatibus labore! Lorem ipsum dolor sit amet.</p>
                <p class="subtext">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis sunt dolorem et Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eos.</p>
            </div>
            <div class="right-about about-img-section col-lg-6">
                <img src="./assets/img/founder-img.png" alt="" class="about-img founder-img">
            </div>
        </div>
    </div>
    
</div>

<!-- Team Section -->
<div class="team-section">
    <div class="max-width container content">
        <p class="title">OUR TEAM</p>
        <h2 class="heading">
            Lorem ipsum dolor sit amet.
        </h2>
    </div>
    <!-- Team Members -->
    <div class="team-members max-width container">
        <div class="row">
            <div class="member">
                <img src="../assets/img/team-member.webp" alt="">
                <h4 class="heading">Name</h4>
                <p class="title position">CEO</p>
            </div>
            <div class="member">
                <img src="../assets/img/team-member.webp" alt="">
                <h4 class="heading">Name</h4>
                <p class="title position">CEO</p>
            </div>
            <div class="member">
                <img src="../assets/img/team-member.webp" alt="">
                <h4 class="heading">Name</h4>
                <p class="title position">CEO</p>
            </div>
        </div>
        <div class="row">
            <div class="member">
                <img src="../assets/img/team-member.webp" alt="">
                <h4 class="heading">Name</h4>
                <p class="title position">CEO</p>
            </div>
            <div class="member">
                <img src="../assets/img/team-member.webp" alt="">
                <h4 class="heading">Name</h4>
                <p class="title position">CEO</p>
            </div>
            <div class="member">
                <img src="../assets/img/team-member.webp" alt="">
                <h4 class="heading">Name</h4>
                <p class="title position">CEO</p>
            </div>
        </div>
    </div>
        
</div>

<!-- Core Values Section -->
<div class="value-section">
    <div class="container max-width">
        <div class="value-section-frame row">
            <div class="col-lg-6 content">
                <p class="title">OUR VALUES</p>
                <h2 class="heading">
                    Lorem ipsum
                </h2>
                <p class="subtext">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus sit nam molestias! Fugiat, necessitatibus labore! Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-lg-6 value-cards">
                <div class="card col-md-5 col-lg-5">
                    <h5>One</h5>
                </div>
                <div class="card col-md-5 col-lg-5">
                    <h5>Two</h5>
                </div>
                <div class="card col-md-5 col-lg-5">
                    <h5>Three</h5>
                </div>
                <div class="card col-md-5 col-lg-5">
                    <h5>Four</h5>
                </div>
            </div>
        </div>
    </div>
</div>