<div class="contact-section contact-us">
    <div class="container max-width">
        <div class="contact-section-frame row">
            <div class="left-contact col-md-5 col-lg-6">
                <p class="title">CONTACT</p>
                <h2 class="heading">
                    Lorem ipsum dolor, sit amet consectetur 
                </h2>
                <ul class="contact-options">
                    <li>any@gmail.com</b></li>
                    <li><b>+91XXXXXXXXXX</b></li>
                    <li><b>Mumbai,India</b></li>
                </ul>
            </div>
            <div class="right-contact col-md-7 col-lg-6">
                <p class="title">INQUIRY</p>
                <h2 class="heading">
                    Let's Get in Touch
                    <div class="form-section">
                        <form action="" class="contact-form">
                            <div class="input-container">
                                <input type="text" name="name" id="name" placeholder="Name" class="name-input input">
                                <input type="text" name="email" id="email" placeholder="Email" class="email-input input">
                            </div>
                            <div class="textbox-container">
                                <textarea name="" id="" placeholder="Message.." class="message-area input"></textarea>
                            </div>
                            <input type="submit" value="Send" class="send-btn">
                        </form>
                    </div> 
                </h2>
            </div>
        </div>
    </div>
</div> 