<!-- Hero Section -->
<div class="hero-section">
    <div class="container max-width">
        <div class="frames d-flex">
            <!-- frame -->
            <div id="frame1" class="frame left-frame">
                <h1 id="hero-section-heading">
                    Service platform for small and mid size business
                </h1>
                <p id="hero-section-subtext" class="subtext right-frame">
                    We provide the best functional advice, at the right time, at the right terms to small and mid-size companies
                </p>
            </div>
            <div id="frame2" class="frame">
                <img src="./assets/img/hero-section-img.webp" alt="" class="hero-section-img">
            </div>
        </div>
        <!-- CTA Section -->
        <div class="cta-section">
            <div class="button-section">
                <!-- inside a we can place block for the animation -->
                <a href="#" class="cta-button button">Get Started</a>
            </div>
            <!-- <div class="plain-button">
                <a href="#" class="plain-button-link">Learn More</a>
            </div> -->
    </div>
    </div>
    <!-- Logo Slider -->
    <div class="container logo-slider max-width">

    </div>
    
    </div>

    <!-- Services Section -->
    <div class="services-section">
            <div class="container max-width">
                <div class="content">
                    <div class="services-head">
                        <h2 class="services-heading">Our Services</h2>
                        <p class="services-subtext subtext text-center">Apart from incubating and investing in young technology driven businesses from its own funds, Interface
                            Ventures offers the following services to its client partners</p>
                    </div>
                    <!-- Cards -->
                    <div class="slide-container swiper">
                        <div class="slide-content">
                            <div class="card-wrapper swiper-wrapper">
                                <div class="card swiper-slide">
                                    <div class="card-content">
                                        <div class="service-card-logo">
                                            <img src="./assets/img/service-logo.png" alt="">
                                        </div>
                                        <h3 class="name">Fund Raising for Pivate and Public domain</h3>
                                        <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
            
                                        <a href="#" class="learn-more-btn">Learn More &rarr;
                                        </a>
                                    </div>
                                </div>
                                <div class="card swiper-slide">
                                    <div class="card-content">
                                        <div class="service-card-logo">
                                            <img src="./assets/img/service-logo.png" alt="">
                                        </div>
                                        <h3 class="name">Digital Transformation</h3>
                                        <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
            
                                        <a href="#" class="learn-more-btn">Learn More &rarr;
                                        </a>
                                    </div>
                                </div>
                                <div class="card swiper-slide">
                                    <div class="card-content">
                                        <div class="service-card-logo">
                                            <img src="./assets/img/service-logo.png" alt="">
                                        </div>
                                        <h3 class="name">Collections and Debt Recovery</h3>
                                        <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
            
                                        <a href="#" class="learn-more-btn">Learn More &rarr;
                                        </a>
                                    </div>
                                </div>
                                <div class="card swiper-slide">
                                    <div class="card-content">
                                        <div class="service-card-logo">
                                            <img src="./assets/img/service-logo.png" alt="">
                                        </div>
                                        <h3 class="name">Strategic & Business Finance
                                            Advisory</h3>
                                        <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
            
                                        <a href="#" class="learn-more-btn">Learn More &rarr;
                                        </a>
                                    </div>
                                </div>
                                <div class="card swiper-slide">
                                    <div class="card-content">
                                        <div class="service-card-logo">
                                            <img src="./assets/img/service-logo.png" alt="">
                                        </div>
                                        <h3 class="name">Legal Advice for Corporate</h3>
                                        <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
            
                                        <a href="#" class="learn-more-btn">Learn More &rarr;
                                        </a>
                                    </div>
                                </div>
                                <div class="card swiper-slide">
                                    <div class="card-content">
                                        <div class="service-card-logo">
                                            <img src="./assets/img/service-logo.png" alt="">
                                        </div>
                                        <h3 class="name">Marketing, Brand Building &
                                            PR</h3>
                                        <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>
            
                                        <a href="#" class="learn-more-btn">Learn More &rarr;
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
    </div>

    <!-- About Section -->
    <div class="aboutus-section">
            <div class="container max-width">
                <div class="about-section-frame">
                    <div class="left-about about-img-section col-lg-6">
                        <img src="./assets/img/about-section.webp" alt="" class="about-img">
                    </div>
                    <div class="right-about col-lg-6">
                        <p class="title">About us</p>
                        <h2 class="heading observe-heading">
                            Your Financial Partner, Always
                        </h2>
                        <p class="subtext">Interface Ventures was born from the hands-on operations and fund-raising experience of its Founder Karan Desai. </p>
                        <p class="subtext">Karan has built Interface Ventures as a conglomeration of experts across critical business functions to provide the best functional advice, at the right time, at the right terms to small and mid-size companies.</p>
                        <a href="#" class="button">About Us</a>
                    </div>
            </div>
            </div>
            
    </div>

    <!-- Why Choose Us Section -->
    <div class="chooseus-section">
            <div class="container max-width">
                <div class="chooseus-section-frame">
                    <div class="content">
                        <p class="title">WHY CHOOSE US</p>
                    <h2 class="heading observe-heading">
                        Building Financial Futures Together
                    </h2>    
                    <p class="description subtext">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur sed laborum necessitatibus, atque quos quaerat?
                    </p>
                    </div>
                    <!-- cards -->
                    <div class="card-section">
                        <div class="item">
                            <h3 class="target" style="visibility: hidden;">10</h3>
                            <p class="description">Lorem, ipsum dolor.</p>
                        </div>
                        <div class="item">
                            <h3 class="target" style="visibility: hidden;">9</h3>
                            <p class="description">Lorem, ipsum.</p>
                        </div>
                        <div class="item">
                            <h3 class="target" style="visibility: hidden;">100</h3>
                            <p class="description">Lorem, ipsum dolor.</p>
                        </div>
                        <div class="item">
                            <h3 class="target" style="visibility: hidden;">50</h3>
                            <p class="description">Lorem.</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- Get In Touch -->
    <div class="contact-section">
            <div class="container max-width">
                <div class="contact-section-frame row">
                    <div class="left-contact col-md-6 col-lg-6">
                        <p class="title">INQUIRY</p>
                        <h2 class="heading observe-heading">
                            Let's Get in Touch
                            <div class="form-section">
                                <form action="" class="contact-form">
                                    <div class="input-container">
                                        <input type="text" name="name" id="name" placeholder="Name" class="name-input input">
                                        <input type="text" name="email" id="email" placeholder="Email" class="email-input input">
                                    </div>
                                    <div class="textbox-container">
                                        <textarea name="" id="" placeholder="Message.." class="message-area input"></textarea>
                                    </div>
                                    <input type="submit" value="Send" class="send-btn">
                                </form>
                            </div> 
                        </h2>
                    </div>
                    <div class="right-about contact-img-section col-md-6 col-lg-6">
                        <img src="./assets/img/contact-section-img.webp" alt="" class="contact-img">
                    </div>
                </div>
            </div>
    </div> 