<!-- Hero Section -->
<div class="news-hero-section hero-section">
    <div class="max-width container content">
        <h1 class="heading">
            News and Media
        </h1>
        <p class="subtext">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod nemo fuga quos qui in at nostrum nihil dolore quae accusantium!
        </p>


        <div class="news-container">
            <div class="news-row row">
                <div class="news col-md-6 col-lg-6">
                    <a href="#news-url">
                        <img src="../assets/img/news-img.webp" alt="Breaking News Image" class="news-img">
                        <h5 class="headline">Breaking News: Major Event Unfolds</h5>
                        <p class="desc">A significant event has occurred, reshaping the world as we know it. Read more to find out what happened.</p>
                      </a>
                </div>
                <div class="news col-md-6 col-lg-6">
                    <a href="#news-url">
                        <img src="../assets/img/news-img.webp" alt="Breaking News Image" class="news-img">
                        <h5 class="headline">Breaking News: Major Event Unfolds</h5>
                        <p class="desc">A significant event has occurred, reshaping the world as we know it. Read more to find out what happened.</p>
                      </a>
                </div>
            </div>
            <div class="news-row row">
                <div class="news col-md-6 col-lg-6">
                    <a href="#news-url">
                        <img src="../assets/img/news-img.webp" alt="Breaking News Image" class="news-img">
                        <h5 class="headline">Breaking News: Major Event Unfolds</h5>
                        <p class="desc">A significant event has occurred, reshaping the world as we know it. Read more to find out what happened.</p>
                      </a>
                </div>
                <div class="news col-md-6 col-lg-6">
                    <a href="#news-url">
                        <img src="../assets/img/news-img.webp" alt="Breaking News Image" class="news-img">
                        <h5 class="headline">Breaking News: Major Event Unfolds</h5>
                        <p class="desc">A significant event has occurred, reshaping the world as we know it. Read more to find out what happened.</p>
                      </a>
                </div>
            </div>
            <div class="news-row row">
                <div class="news col-md-6 col-lg-6">
                    <a href="#news-url">
                        <img src="../assets/img/news-img.webp" alt="Breaking News Image" class="news-img">
                        <h5 class="headline">Breaking News: Major Event Unfolds</h5>
                        <p class="desc">A significant event has occurred, reshaping the world as we know it. Read more to find out what happened.</p>
                      </a>
                </div>
                <div class="news col-md-6 col-lg-6">
                    <a href="#news-url">
                        <img src="../assets/img/news-img.webp" alt="Breaking News Image" class="news-img">
                        <h5 class="headline">Breaking News: Major Event Unfolds</h5>
                        <p class="desc">A significant event has occurred, reshaping the world as we know it. Read more to find out what happened.</p>
                      </a>
                </div>
            </div>
            <div class="news-row row">
                <div class="news col-md-6 col-lg-6">
                    <a href="#news-url">
                        <img src="../assets/img/news-img.webp" alt="Breaking News Image" class="news-img">
                        <h5 class="headline">Breaking News: Major Event Unfolds</h5>
                        <p class="desc">A significant event has occurred, reshaping the world as we know it. Read more to find out what happened.</p>
                      </a>
                </div>
                <div class="news col-md-6 col-lg-6">
                    <a href="#news-url">
                        <img src="../assets/img/news-img.webp" alt="Breaking News Image" class="news-img">
                        <h5 class="headline">Breaking News: Major Event Unfolds</h5>
                        <p class="desc">A significant event has occurred, reshaping the world as we know it. Read more to find out what happened.</p>
                      </a>
                </div>
            </div>
        </div>
    </div>  
</div>
<hr>