<!-- Hero Section -->
<div class="services-hero-section hero-section">
    <div class="max-width container content">
        <p class="title">SERVICES</p>
        <h1 class="heading">
            Lorem ipsum dolor sit amet.
        </h1>
        <p class="subtext">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod nemo fuga quos qui in at nostrum nihil dolore quae accusantium!
        </p>
    </div>  
</div>

<div class="services-details">
    <div class="max-width container content">
        <p class="title">SERVICES</p>
        <h2 class="heading">
            Lorem ipsum dolor sit amet.
        </h2>
    </div> 
    <!-- Services Cards -->
    <div class="max-width container services-cards">
        <div class="row">
            <div class="card-content col-md-5 col-lg-3">
                <div class="service-card-logo">
                    <img src="./assets/img/service-logo.png" alt="">
                </div>
                <h3 class="name">David Dell</h3>
                <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                <a href="#" class="learn-more-btn">Learn More &rarr;
                </a>
            </div>
            <div class="card-content col-md-5 col-lg-3">
                <div class="service-card-logo">
                    <img src="./assets/img/service-logo.png" alt="">
                </div>
                <h3 class="name">David Dell</h3>
                <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                <a href="#" class="learn-more-btn">Learn More &rarr;
                </a>
            </div>
            <div class="card-content col-md-5 col-lg-3">
                <div class="service-card-logo">
                    <img src="./assets/img/service-logo.png" alt="">
                </div>
                <h3 class="name">David Dell</h3>
                <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                <a href="#" class="learn-more-btn">Learn More &rarr;
                </a>
            </div>
        <!-- </div>
        <div class="row"> -->
            <div class="card-content col-md-5 col-lg-3">
                <div class="service-card-logo">
                    <img src="./assets/img/service-logo.png" alt="">
                </div>
                <h3 class="name">David Dell</h3>
                <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                <a href="#" class="learn-more-btn">Learn More &rarr;
                </a>
            </div>
            <div class="card-content col-md-5 col-lg-3">
                <div class="service-card-logo">
                    <img src="./assets/img/service-logo.png" alt="">
                </div>
                <h3 class="name">David Dell</h3>
                <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                <a href="#" class="learn-more-btn">Learn More &rarr;
                </a>
            </div>
            <div class="card-content col-md-5 col-lg-3">
                <div class="service-card-logo">
                    <img src="./assets/img/service-logo.png" alt="">
                </div>
                <h3 class="name">David Dell</h3>
                <p class="description ">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                <a href="#" class="learn-more-btn">Learn More &rarr;
                </a>
            </div>
        </div>
    </div>
</div>

<div class="services-steps">
    <div class="max-width container content">
        <div class="row">
            <div class="steps-content col-lg-6">
            <p class="title">SERVICES</p>
            <h2 class="heading">
                Lorem ipsum dolor sit amet.
            </h2>
            <p class="subtext">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod nemo fuga quos qui in at nostrum nihil dolore quae accusantium!
            </p>

            <div class="step">
                <div class="step-count">1</div>
                <div class="step-desc">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae.</p>
                </div>
            </div>

            <div class="step">
                <div class="step-count">2</div>
                <div class="step-desc">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae.</p>
                </div>
            </div>

            <div class="step">
                <div class="step-count">3</div>
                <div class="step-desc">
                    <h3>Lorem, ipsum dolor.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae.</p>
                </div>
            </div>
            </div>
            <div class="image-section col-lg-6">

            </div>
        </div>
        
    </div>
</div>

<!-- Reviews Testimonial -->
<div class="reviews-section">
    <div class="max-width container">
        <div class="content">
            <p class="title">TESTIMONIAL</p>
            <h2 class="heading">
                Lorem ipsum dolor sit amet.
            </h2>
            <p class="subtext">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod nemo fuga quos qui in at nostrum nihil dolore quae accusantium!
            </p>
            <div class="card-container" id="scroll-container">
                <div class="card">
                    <p class="subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rem est veniam beatae eaque dolorum placeat non similique amet minima?</p>
                    <div class="dp"></div>
                    <h5 class="name">Name</h5>
                </div>
                <div class="card">
                    <p class="subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rem est veniam beatae eaque dolorum placeat non similique amet minima?</p>
                    <div class="dp"></div>
                    <h5 class="name">Name</h5>
                </div>
                <div class="card">
                    <p class="subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rem est veniam beatae eaque dolorum placeat non similique amet minima?</p>
                    <div class="dp"></div>
                    <h5 class="name">Name</h5>
                </div>
                <div class="card">
                    <p class="subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rem est veniam beatae eaque dolorum placeat non similique amet minima?</p>
                    <div class="dp"></div>
                    <h5 class="name">Name</h5>
                </div>
                <div class="card">
                    <p class="subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rem est veniam beatae eaque dolorum placeat non similique amet minima?</p>
                    <div class="dp"></div>
                    <h5 class="name">Name</h5>
                </div>
            </div>
        </div>
    </div>
    
</div>
